<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nanny.mapper.AlertRecordMapper">

    <resultMap id="BaseResultMap" type="com.example.nanny.domain.AlertRecord">
            <id property="id" column="id" />
            <result property="cameraId" column="camera_id" />
            <result property="alertType" column="alert_type" />
            <result property="reason" column="reason" />
            <result property="alertedAt" column="alerted_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,camera_id,alert_type,reason,alerted_at
    </sql>
    <select id="selectTop10" resultType="com.example.nanny.domain.AlertRecord"></select>
</mapper>
